@namespace Text "react-native.View";

.stuff {
    color:red;
}
View|SlideIn {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        margin-left: 300px;
        width: 300px;
    }
    50%,60% {
        margin-left: 200px;
        width: 200px;

    }
    to {
        margin-left: 0;
        width: 100px;
    }
}