@namespace View "react-native.View";

View|MyView .combine {
    height: 20px;
}

View|MyView {
    flex: 1;
    border: 1px solid red;
    transition: height 1s ease-in-out;
}
.whatever {
    margin: 10px;
}

View|MyView.whatever {
    margin: 15px;
    flex-direction: column;
}

View|MyView.appear, View|MyView.enter {
    height: 0px;
    transition: height .5s ease-in;
}

View|MyView.appear-active, View|MyView.enter-active {
    height: 100px;
}

View|MyView.leave {
    height: 100px;
    transition: height .5s ease-in;
}

View|MyView.leave-active {
    height: 0px;
}
