@namespace Native "react-native.View";

Native|View {
    border: 2px solid red;
    height: 20px;
    width: 200px;
}

Native|View.green {
    border-top-color: green;
}

.green {
    margin:10px;
}
.text {
    color:purple;
}

@media only screen and (orientation: landscape) {
    .text {
        color:red;
    }
    Native|View {
        border-color: purple;
    }
}
